.App {
  text-align: center;
  background: url(../../../public/bg.png);
  background-size: cover;
  min-height: 100vh;
}

.App-header {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: blueviolet;
  }

.Main{
  display: flex;
  flex-direction: row;  
  align-items: center;
  justify-content: flex-start;
}  
.Main-navigate{
  flex-basis: 200px;
}
.Main-content{
  flex-basis: 800px;
}


