.field{
    margin-top: 20px;
};

div.auth-header{
    padding-top: 10px;        
}
.btn{
    margin-top: 30px;
    gap: 20px;
    justify-content: center;
}

button.css-jh47zj-MuiButtonBase-root-MuiButton-root{
  width: 120px;  
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px; 
  
    
}
.btn button:last-child{
    background-color: rgb(26, 160, 26);
}
