.app {
  text-align: center;
  background: url(../public/bg1.png);
  background-size:auto;
  min-height: 100vh;
}

.app-header {
  min-height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 50px;
  padding-left: 50px;
  
  color: black;
  font-weight: bold;
  }

.main{
  display: flex;
  flex-direction: row;  
  justify-content: center;
}  
.main-navigate{
  flex-basis: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around
}
.main-content{
  flex-basis: 1200px;
}
.main-navigate button{
  width: 150px;
  display: block;
  margin-bottom: 20px;
  
}

